<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiongcp.bug.manager.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.xiongcp.bug.manager.entity.Permission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findPermissionByUid" resultType="com.xiongcp.bug.manager.entity.Permission">
    SELECT p.* from u_user_role urole left join  u_role_permission rp   on urole.rid=rp.rid
      left join  u_permission p on p.id = rp.pid
      where urole.uid = #{id}
  </select>

</mapper>